@font-face {
    font-family: 'charm';
    src: url('/assets/fonts/Charm-Regular.ttf') format('ttf');
    font-style: italic;
}

body {
    overflow: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
    left: 0;
    top: 0;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

img {
    width: 100px;
    height: 100px;
}

/* first-slide */

.background-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    z-index: -11;
}

.images {
    width: 100%;
    height: 100%;
}

.invite-message {
    text-align: center;
    color: #515050;
    padding-top: 8rem;
    font-weight: 500;
    z-index: 99999999999999999999999999999999999999999;
}

.couples-name {
    font-family: 'charm';
    font-style: italic;
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    margin-top: 2rem;
    color: #515050;
    z-index: 999999999999999999999999999999999999;
}

.top-right-flower {
    position: absolute;
    top: 0;
    right: 0;
    filter: brightness(0.95);
}

.top-left-flower {
    transform: scaleX(-1);
    position: absolute;
    top: -2rem;
    filter: brightness(0.95);
}

.maghbareh {
    position: absolute;
    bottom: 3rem;
    right: -3rem;
    width: 25rem;
    height: 20rem;
}

.voorodi {
    position: absolute;
    bottom: -2rem;
    right: 6rem;
    width: 20rem;
    height: 12rem;
}

.left-flower-input {
    position: absolute;
    bottom: 0;
    left: 5rem;
    width: 10rem;
    height: 10rem;
}

.tavoos {
    z-index: 11111111111111111111;
    position: absolute;
    right: 0;
    bottom: 15rem;
    width: 10rem;
    height: 8rem;
}

.button-flower {
    position: absolute;
    bottom: 2.5rem;
    left: 3rem;
    filter: brightness(0.95);
}

.left-flower-input-1 {
    position: absolute;
    bottom: -.5rem;
    right: 3rem;
    width: 10rem;
    height: 10rem;
}

/* second-slide */

.poetry{
    margin-top: 8rem;
    text-align: center !important;
    color: #5c5c5c;
}
.date{
    text-align: center;
    margin-top: 13rem;
    color: #5c5c5c;
}
.address{
    margin-top: 20rem;
    text-align: center !important;
    color: #5c5c5c;
    font-weight: 100;
}
.december{
    font-size: .8rem;
    margin-right: .7rem;
}
.thirty{
    font-size: 3rem;
    margin: 1.2rem;
}
.nine-pm{
    position: absolute;
    top: 4.5rem;
    left: 11.8rem;
}
.Horizontal-data{
    display: flex;
    justify-content: center;
    align-items: baseline;
    height: 100vh;
    margin-right: 2.5rem;
    margin-top: -1rem;
}
.friday, .the-year{
    border-bottom: 1px solid;
    border-top: 1px solid;
    line-height: 2rem;
    position: relative;
    bottom: .5rem;
}


/* responsive */

@media screen and (min-width : 450px) {
    .left-flower-input {
        margin-left: -3.3rem;
    }

    .button-flower {
        margin-left: -3rem;
    }
}
@media screen and (min-width : 465px) {
    .left-flower-input {
        margin-left: -2.3rem;
    }

    .button-flower {
        margin-left: -2rem;
    }
    .nine-pm{
        position: absolute;
        top: 4.5rem;
        left: 12.5rem;
    }
}
@media screen and (min-width : 480px) {
    .left-flower-input {
        margin-left: -1.5rem;
    }

    .button-flower {
        margin-left: -1.5rem;
    }
    .nine-pm{
        position: absolute;
        top: 4.5rem;
        left: 13rem;
    }
}
@media screen and (min-width : 490px) {
    .left-flower-input {
        margin-left: -.7rem;
    }

    .button-flower {
        margin-left: -.5rem;
    }
    
}
@media screen and (min-width : 505px) {
    .left-flower-input {
        margin-left: 0rem;
    }

    .button-flower {
        margin-left: 0rem;
    }
    .nine-pm{
        position: absolute;
        top: 4.5rem;
        left: 13.5rem;
    }
}
@media screen and (min-width : 515px) {
    .left-flower-input {
        margin-left: .5rem;
    }

    .button-flower {
        margin-left: .7rem;
    }
    .nine-pm{
        position: absolute;
        top: 4.5rem;
        left: 14rem;
    }
}
@media screen and (min-width : 525px) {
    .left-flower-input {
        margin-left: 1.5rem ;
    }

    .button-flower {
        margin-left: 1.5rem;
    }
    .nine-pm{
        position: absolute;
        top: 4.5rem;
        left: 14.5rem;
    }
}
@media screen and (min-width : 535px) {
    .left-flower-input {
        margin-left: 2.2rem ;
    }

    .button-flower {
        margin-left: 2rem;
    }
    .nine-pm{
        position: absolute;
        top: 4.5rem;
        left: 14.8rem;
    }
}
@media screen and (min-width : 550px) {
    .left-flower-input {
        margin-left: 3.5rem;
    }

    .button-flower {
        margin-left: 3rem;
    }
        .nine-pm{
            position: absolute;
            top: 4.5rem;
            left: 15.3rem;
        }
}
@media screen and (min-width : 570px) {
    .left-flower-input {
        margin-left: 4.5rem;
    }

    .button-flower {
        margin-left: 4.3rem;
    }
    .nine-pm{
        position: absolute;
        top: 4.5rem;
        left: 15.7rem;
    }
}
@media screen and (min-width : 590px) {
    .left-flower-input {
        margin-left: 5.3rem;
    }

    .button-flower {
        margin-left: 5rem;
    }
    .nine-pm{
        position: absolute;
        top: 4.5rem;
        left: 16rem;
    }
}
@media screen and (min-width : 600px) {
    .left-flower-input {
        margin-left: 6.2rem;
    }

    .button-flower {
        margin-left: 6rem;
    }
    .nine-pm{
        position: absolute;
        top: 4.5rem;
        left: 16.5rem;
    }
}
@media screen and (min-width : 615px) {
    .left-flower-input {
        margin-left: 7rem;
    }

    .button-flower {
        margin-left: 7rem;
    }
    .nine-pm{
        position: absolute;
        top: 4.5rem;
        left: 17rem;
    }
}
@media screen and (min-width : 625px) {
    .left-flower-input {
        margin-left: 8rem;
    }

    .button-flower {
        margin-left: 8rem;
    }
    .nine-pm{
        position: absolute;
        top: 4.5rem;
        left: 17.5rem;
    }
}
@media screen and (min-width : 640px) {
    .left-flower-input {
        margin-left: 8.5rem;
    }

    .button-flower {
        margin-left: 8.5rem;
    }
    .nine-pm{
        position: absolute;
        top: 4.5rem;
        left: 17.8rem;
    }
}
@media screen and (min-width : 650px) {
    .left-flower-input {
        margin-left: 9rem;
    }

    .button-flower {
        margin-left: 9rem;
    }
    .nine-pm{
        position: absolute;
        top: 4.5rem;
        left: 18rem;
    }
}
@media screen and (min-width : 660px) {
    .left-flower-input {
        margin-left: 10rem;
    }

    .button-flower {
        margin-left: 10rem;
    }
    .nine-pm{
        position: absolute;
        top: 4.5rem;
        left: 18.5rem;
    }
}
@media screen and (min-width : 670px) {
    .left-flower-input {
        margin-left: 11rem;
    }

    .button-flower {
        margin-left: 11rem;
    }
    .nine-pm{
        position: absolute;
        top: 4.5rem;
        left: 18.8rem;
    }
}
@media screen and (min-width : 685px) {
    .left-flower-input {
        margin-left: 12rem;
    }

    .button-flower {
        margin-left: 12rem;
    }
    .nine-pm{
        position: absolute;
        top: 4.5rem;
        left: 19.5rem;
    }
}
@media screen and (min-width : 700px) {
    .left-flower-input {
        margin-left: 13.5rem;
    }

    .button-flower {
        margin-left: 13.8rem;
    }
    .nine-pm{
        position: absolute;
        top: 4.5rem;
        left: 20rem;
    }
}
@media screen and (min-width : 725px) {
    .left-flower-input {
        margin-left: 14.8rem;
    }

    .button-flower {
        margin-left: 14.5rem;
    }
    .nine-pm{
        position: absolute;
        top: 4.5rem;
        left: 20.5rem;
    }
}
@media screen and (min-width : 735px) {
    .nine-pm{
        position: absolute;
        top: 4.5rem;
        left: 20.9rem;
    }
}
@media screen and (min-width : 750px) {
    .left-flower-input {
        margin-left: 15.5rem;
    }

    .button-flower {
        margin-left: 15.5rem;
    }
    .nine-pm{
        position: absolute;
        top: 4.5rem;
        left: 21.4rem;
    }
}
@media screen and (min-width : 768px) {
    .left-flower-input {
        margin-left: 16.5rem;
    }

    .button-flower {
        margin-left: 16.5rem;
    }
    .nine-pm{
        position: absolute;
        top: 4.5rem;
        left: 21.8rem;
    }
}
@media screen and (min-width : 780px) {
    .left-flower-input {
        margin-left: 18rem;
    }

    .button-flower {
        margin-left: 18rem;
    }
    .nine-pm{
        position: absolute;
        top: 4.5rem;
        left: 22.3rem;
    }
}
@media screen and (min-width : 800px) {
    .left-flower-input {
        margin-left: 18.5rem;
    }

    .button-flower {
        margin-left: 18.5rem;
    }
    .nine-pm{
        position: absolute;
        top: 4.5rem;
        left: 23rem;
    }
}
@media screen and (min-width : 815px) {
    .left-flower-input {
        margin-left: 19.5rem;
    }

    .button-flower {
        margin-left: 19rem;
    }
    .nine-pm{
        position: absolute;
        top: 4.5rem;
        left: 23.5rem;
    }
}
@media screen and (min-width : 825px) {
    .left-flower-input {
        margin-left: 21rem;
    }

    .button-flower {
        margin-left: 21rem;
    }
    .nine-pm{
        position: absolute;
        top: 4.5rem;
        left: 23.8rem;
    }
}
@media screen and (min-width : 835px) {
    .nine-pm{
        position: absolute;
        top: 4.5rem;
        left: 24.1rem;
    }
}

@media screen and (min-width : 850px) {
    .left-flower-input {
        margin-left: 22.5rem;
    }

    .button-flower {
        margin-left: 22.3rem;
    }
    .nine-pm{
        position: absolute;
        top: 4.5rem;
        left: 24.7rem;
    }
}
@media screen and (min-width : 875px) {
    .left-flower-input {
        margin-left: 24rem;
    }

    .button-flower {
        margin-left: 24rem;
    }
    .nine-pm{
        position: absolute;
        top: 4.5rem;
        left: 25.4rem;
    }
}
@media screen and (min-width : 890px) {
    .left-flower-input {
        margin-left: 24.5rem;
    }

    .button-flower {
        margin-left: 24.5rem;
    }
    .nine-pm{
        position: absolute;
        top: 4.5rem;
        left: 25.7rem;
    }
}
@media screen and (min-width : 900px) {
    .left-flower-input {
        margin-left: 25.5rem;
    }

    .button-flower {
        margin-left: 25.3rem;
    }
    .nine-pm{
        position: absolute;
        top: 4.5rem;
        left: 26.3rem;
    }
}
@media screen and (min-width : 925px) {
    .left-flower-input {
        margin-left: 26.6rem;
    }

    .button-flower {
        margin-left: 27rem;
    }
    .nine-pm{
        position: absolute;
        top: 4.5rem;
        left: 26.7rem;
    }
}
@media screen and (min-width : 935px) {
    .left-flower-input {
        margin-left: 27rem;
    }

    .button-flower {
        margin-left: 27.5rem;
    }
    .nine-pm{
        position: absolute;
        top: 4.5rem;
        left: 27rem;
    }
}   
@media screen and (min-width : 940px) {
    .left-flower-input {
        margin-left: 27.8rem;
    }

    .button-flower {
        margin-left: 28.3rem;
    }
    .nine-pm{
        position: absolute;
        top: 4.5rem;
        left: 27.2rem;
    }
}
@media screen and (min-width : 950px) {
    .left-flower-input {
        margin-left: 29rem;
    }

    .button-flower {
        margin-left: 29.3rem;
    }
    .nine-pm{
        position: absolute;
        top: 4.5rem;
        left: 27.5rem;
    }
}
@media screen and (min-width : 960px) {
    .nine-pm{
        position: absolute;
        top: 4.5rem;
        left: 27.8rem;
    }
}
@media screen and (min-width : 975px) {
    .left-flower-input {
        margin-left: 31rem;
    }

    .button-flower {
        margin-left: 31.3rem;
    }
    .nine-pm{
        position: absolute;
        top: 4.5rem;
        left: 28.2rem;
    }
}
@media screen and (min-width : 992px) {
    .left-flower-input {
        margin-left: 30.8rem;
    }

    .button-flower {
        margin-left: 31rem;
    }
    .nine-pm{
        position: absolute;
        top: 4.5rem;
        left: 28.7rem;
    }
}
@media screen and (min-width : 1000px) {
    .left-flower-input {
        margin-left: 31.8rem;
    }

    .button-flower {
        margin-left: 32.3rem;
    }
    .nine-pm{
        position: absolute;
        top: 4.5rem;
        left: 29.2rem;
    }
}
@media screen and (min-width : 1011px) {
    .nine-pm{
        position: absolute;
        top: 4.5rem;
        left: 29.5rem;
    }
}
@media screen and (min-width : 1024px) {
    .left-flower-input {
        margin-left: 33rem;
    }

    .button-flower {
        margin-left: 35rem;
    }
    .nine-pm{
        position: absolute;
        top: 4.5rem;
        left: 29.9rem;
    }
}
@media screen and (min-width : 1040px) {
    .left-flower-input {
        margin-left: 34rem;
    }

    .button-flower {
        margin-left: 36rem;
    }
    .nine-pm{
        position: absolute;
        top: 4.5rem;
        left: 30.4rem;
    }
}
@media screen and (min-width : 1055px) {
    .left-flower-input {
        margin-left: 35rem;
    }

    .button-flower {
        margin-left: 36.5rem;
    }
    .nine-pm{
        position: absolute;
        top: 4.5rem;
        left: 30.9rem;
    }
}
@media screen and (min-width : 1070px) {
    .left-flower-input {
        margin-left: 36rem;
    }

    .button-flower {
        margin-left: 36.5rem;
    }
    .nine-pm{
        position: absolute;
        top: 4.5rem;
        left: 31.5rem;
    }
}
@media screen and (min-width : 1090px) {
    .left-flower-input {
        margin-left: 37rem;
    }

    .button-flower {
        margin-left: 37.5rem;
    }
    .nine-pm{
        position: absolute;
        top: 4.5rem;
        left: 31.9rem;
    }
}
@media screen and (min-width : 1100px) {
    .left-flower-input {
        margin-left: 38rem;
    }

    .button-flower {
        margin-left: 38.5rem;
    }
    .nine-pm{
        position: absolute;
        top: 4.5rem;
        left: 32.2rem;
    }
}
@media screen and (min-width : 1115px) {
    .left-flower-input {
        margin-left: 38.5rem;
    }

    .button-flower {
        margin-left: 39rem;
    }
    .nine-pm{
        position: absolute;
        top: 4.5rem;
        left: 32.5rem;
    }

}
@media screen and (min-width : 1125px) {
    .left-flower-input {
        margin-left: 39.2rem;
    }

    .button-flower {
        margin-left: 39.5rem;
    }
    .nine-pm{
        position: absolute;
        top: 4.5rem;
        left: 33rem;
    }
}
@media screen and (min-width : 1140px) {
    .left-flower-input {
        margin-left: 40.2rem;
    }

    .button-flower {
        margin-left: 40.5rem;
    }
    .nine-pm{
        position: absolute;
        top: 4.5rem;
        left: 33.5rem;
    }
}
@media screen and (min-width : 1155px) {
    .left-flower-input {
        margin-left: 41rem;
    }

    .button-flower {
        margin-left: 41.5rem;
    }
    .nine-pm{
        position: absolute;
        top: 4.5rem;
        left: 34rem;
    }
}
@media screen and (min-width : 1170px) {
    .left-flower-input {
        margin-left: 42rem;
    }

    .button-flower {
        margin-left: 42.5rem;
    }
    .nine-pm{
        position: absolute;
        top: 4.5rem;
        left: 34.6rem;
    }
}
@media screen and (min-width : 1190px) {
    .left-flower-input {
        margin-left: 43.2rem;
    }

    .button-flower {
        margin-left: 43.5rem;
    }
    .nine-pm{
        position: absolute;
        top: 4.5rem;
        left: 35rem;
    }
}
@media screen and (min-width : 1205px) {
    .left-flower-input {
        margin-left: 44.2rem;
    }

    .button-flower {
        margin-left: 44.5rem;
    }
    .nine-pm{
        position: absolute;
        top: 4.5rem;
        left: 35.5rem;
    }
}
@media screen and (min-width : 1220px) {
    .left-flower-input {
        margin-left: 45.3rem;
    }

    .button-flower {
        margin-left: 45.7rem;
    }
    .nine-pm{
        position: absolute;
        top: 4.5rem;
        left: 36rem;
    }
}
@media screen and (min-width : 1240px) {
    .left-flower-input {
        margin-left: 46.4rem;
    }

    .button-flower {
        margin-left: 46.5rem;
    }
    .nine-pm{
        position: absolute;
        top: 4.5rem;
        left: 36.5rem;
    }
}
@media screen and (min-width : 1255px) {
    .left-flower-input {
        margin-left: 47.2rem;
    }

    .button-flower {
        margin-left: 47.5rem;
    }
    .nine-pm{
        position: absolute;
        top: 4.5rem;
        left: 37rem;
    }
}
@media screen and (min-width : 1270px) {
    .left-flower-input {
        margin-left: 48.3rem;
    }

    .button-flower {
        margin-left: 48.5rem;
    }
    .nine-pm{
        position: absolute;
        top: 4.5rem;
        left: 37.5rem;
    }
}
@media screen and (min-width : 1285px) {
    .left-flower-input {
        margin-left: 49.2rem;
    }

    .button-flower {
        margin-left: 49.5rem;
    }
    .nine-pm{
        position: absolute;
        top: 4.5rem;
        left: 38rem;
    }
}
@media screen and (min-width : 1300px) {
    .left-flower-input {
        margin-left: 50rem;
    }

    .button-flower {
        margin-left: 50.5rem;
    }
    .nine-pm{
        position: absolute;
        top: 4.5rem;
        left: 38.5rem;
    }
}
@media screen and (min-width : 1315px) {
    .left-flower-input {
        margin-left: 51.2rem;
    }

    .button-flower {
        margin-left: 51.5rem;
    }
    .nine-pm{
        position: absolute;
        top: 4.5rem;
        left: 39rem;
    }
}
@media screen and (min-width : 1330px) {
    .left-flower-input {
        margin-left: 52rem;
    }

    .button-flower {
        margin-left: 52.5rem;
    }
    .nine-pm{
        position: absolute;
        top: 4.5rem;
        left: 39.5rem;
    }
}
@media screen and (min-width : 1345px) {
    .left-flower-input {
        margin-left: 53.2rem;
    }

    .button-flower {
        margin-left: 53.5rem;
    }
    .nine-pm{
        position: absolute;
        top: 4.5rem;
        left: 40rem;
    }
}
@media screen and (min-width : 1365px) {
    .left-flower-input {
        margin-left: 54.2rem;
    }

    .button-flower {
        margin-left: 54.5rem;
    }
    .nine-pm{
        position: absolute;
        top: 4.5rem;
        left: 40.5rem;
    }
}
@media screen and (min-width : 1380px) {
    .left-flower-input {
        margin-left: 55rem;
    }

    .button-flower {
        margin-left: 55.5rem;
    }
    .nine-pm{
        position: absolute;
        top: 4.5rem;
        left: 41rem;
    }
}
@media screen and (min-width : 1395px) {
    .left-flower-input {
        margin-left: 56rem;
    }

    .button-flower {
        margin-left: 56.5rem;
    }
    .nine-pm{
        position: absolute;
        top: 4.5rem;
        left: 41.5rem;
    }
}
@media screen and (min-width : 1410px) {
    .left-flower-input {
        margin-left: 57rem;
    }

    .button-flower {
        margin-left: 57.5rem;
    }
    .nine-pm{
        position: absolute;
        top: 4.5rem;
        left: 42rem;
    }
}
@media screen and (min-width : 1425px) {
    .left-flower-input {
        margin-left: 58.2rem;
    }

    .button-flower {
        margin-left: 58.5rem;
    }
    .nine-pm{
        position: absolute;
        top: 4.5rem;
        left: 42.5rem;
    }
}
@media screen and (min-width : 1445px) {
    .left-flower-input {
        margin-left: 59.2rem;
    }

    .button-flower {
        margin-left: 59.5rem;
    }
    .nine-pm{
        position: absolute;
        top: 4.5rem;
        left: 43rem;
    }
}
@media screen and (min-width : 1460px) {
    .left-flower-input {
        margin-left: 60rem;
    }

    .button-flower {
        margin-left: 60.5rem;
    }
    .nine-pm{
        position: absolute;
        top: 4.5rem;
        left: 43.5rem;
    }
}
@media screen and (min-width : 1475px) {
    .left-flower-input {
        margin-left: 61rem;
    }

    .button-flower {
        margin-left: 61.5rem;
    }
    .nine-pm{
        position: absolute;
        top: 4.5rem;
        left: 44rem;
    }
}
@media screen and (min-width : 1495px) {
    .left-flower-input {
        margin-left: 62.3rem;
    }

    .button-flower {
        margin-left: 62.5rem;
    }
    .nine-pm{
        position: absolute;
        top: 4.5rem;
        left: 44.5rem;
    }
}
@media screen and (min-width : 1510px) {
    .left-flower-input {
        margin-left: 63rem;
    }

    .button-flower {
        margin-left: 63.5rem;
    }
    .nine-pm{
        position: absolute;
        top: 4.5rem;
        left: 45rem;
    }
}
@media screen and (min-width : 1525px) {
    .left-flower-input {
        margin-left: 64.2rem;
    }

    .button-flower {
        margin-left: 64.5rem;
    }
    .nine-pm{
        position: absolute;
        top: 4.5rem;
        left: 45.5rem;
    }
}
@media screen and (min-width : 1540px) {
    .left-flower-input {
        margin-left: 65rem;
    }

    .button-flower {
        margin-left: 65.5rem;
    }
    .nine-pm{
        position: absolute;
        top: 4.5rem;
        left: 46.2rem;
    }
}
@media screen and (min-width : 1560px) {
    .left-flower-input {
        margin-left: 66.2rem;
    }

    .button-flower {
        margin-left: 66.5rem;
    }
    .nine-pm{
        position: absolute;
        top: 4.5rem;
        left: 46.6rem;
    }
}
@media screen and (min-width : 1575px) {
    .left-flower-input {
        margin-left: 67.4rem;
    }

    .button-flower {
        margin-left: 67.8rem;
    }
    .nine-pm{
        position: absolute;
        top: 4.5rem;
        left: 47rem;
    }
}
@media screen and (min-width : 1590px) {
    .left-flower-input {
        margin-left: 68.2rem;
    }

    .button-flower {
        margin-left: 68.5rem;
    }
    .nine-pm{
        position: absolute;
        top: 4.5rem;
        left: 47.5rem;
    }
}
@media screen and (min-width : 1605px) {
    .left-flower-input {
        margin-left: 69.2rem;
    }

    .button-flower {
        margin-left: 69.5rem;
    }
    .nine-pm{
        position: absolute;
        top: 4.5rem;
        left: 48rem;
    }
}
@media screen and (min-width : 1620px) {
    .left-flower-input {
        margin-left: 70rem;
    }

    .button-flower {
        margin-left: 70.5rem;
    }
    .nine-pm{
        position: absolute;
        top: 4.5rem;
        left: 48.5rem;
    }
}
@media screen and (min-width : 1635px) {
    .left-flower-input {
        margin-left: 71rem;
    }

    .button-flower {
        margin-left: 71.5rem;
    }
    .nine-pm{
        position: absolute;
        top: 4.5rem;
        left: 49rem;
    }
}
@media screen and (min-width : 1650px) {
    .left-flower-input {
        margin-left: 72rem;
    }

    .button-flower {
        margin-left: 72.5rem;
    }
    .nine-pm{
        position: absolute;
        top: 4.5rem;
        left: 49.5rem;
    }
}
@media screen and (min-width : 1670px) {
    .left-flower-input {
        margin-left: 73.2rem;
    }

    .button-flower {
        margin-left: 73.5rem;
    }
    .nine-pm{
        position: absolute;
        top: 4.5rem;
        left: 50rem;
    }
}
@media screen and (min-width : 1685px) {
    .left-flower-input {
        margin-left: 74.2rem;
    }

    .button-flower {
        margin-left: 74.5rem;
    }
    .nine-pm{
        position: absolute;
        top: 4.5rem;
        left: 50.5rem;
    }
}
@media screen and (min-width : 1700px) {
    .left-flower-input {
        margin-left: 75rem;
    }

    .button-flower {
        margin-left: 75.5rem;
    }
    .nine-pm{
        position: absolute;
        top: 4.5rem;
        left: 51rem;
    }
}
@media screen and (min-width : 1715px) {
    .left-flower-input {
        margin-left: 76rem;
    }

    .button-flower {
        margin-left: 76.5rem;
    }
    .nine-pm{
        position: absolute;
        top: 4.5rem;
        left: 51.5rem;
    }
}
@media screen and (min-width : 1730px) {
    .left-flower-input {
        margin-left: 77rem;
    }

    .button-flower {
        margin-left: 77.5rem;
    }
    .nine-pm{
        position: absolute;
        top: 4.5rem;
        left: 52rem;
    }
    
}
@media screen and (min-width : 1745px) {
    .left-flower-input {
        margin-left: 78rem;
    }

    .button-flower {
        margin-left: 78.5rem;
    }
    .nine-pm{
        position: absolute;
        top: 4.5rem;
        left: 52.5rem;
    }
}
@media screen and (min-width : 1760px) {
    .left-flower-input {
        margin-left: 79rem;
    }

    .button-flower {
        margin-left: 79.5rem;
    }
    .nine-pm{
        position: absolute;
        top: 4.5rem;
        left: 53rem;
    }
    
}
@media screen and (min-width : 1775px) {
    .left-flower-input {
        margin-left: 80rem;
    }

    .button-flower {
        margin-left: 80.5rem;
    }
    .nine-pm{
        position: absolute;
        top: 4.5rem;
        left: 53.5rem;
    }
}
@media screen and (min-width : 1795px) {
    .left-flower-input {
        margin-left: 81rem;
    }

    .button-flower {
        margin-left: 81.5rem;
    }
    .nine-pm{
        position: absolute;
        top: 4.5rem;
        left: 54rem;
    }
}
@media screen and (min-width : 1810px) {
    .left-flower-input {
        margin-left: 82rem;
    }

    .button-flower {
        margin-left: 82.5rem;
    }
    .nine-pm{
        position: absolute;
        top: 4.5rem;
        left: 54.5rem;
    }
}
@media screen and (min-width : 1825px) {
    .left-flower-input {
        margin-left: 83rem;
    }

    .button-flower {
        margin-left: 83.5rem;
    }
    .nine-pm{
        position: absolute;
        top: 4.5rem;
        left: 55rem;
    }
}
@media screen and (min-width : 1845px) {
    .left-flower-input {
        margin-left: 84rem;
    }

    .button-flower {
        margin-left: 84.5rem;
    }
    .nine-pm{
        position: absolute;
        top: 4.5rem;
        left: 55.5rem;
    }
}
@media screen and (min-width : 1860px) {
    .left-flower-input {
        margin-left: 85rem;
    }

    .button-flower {
        margin-left: 85.5rem;
    }
    .nine-pm{
        position: absolute;
        top: 4.5rem;
        left: 56rem;
    }
}
@media screen and (min-width : 1875px) {
    .left-flower-input {
        margin-left: 86rem;
    }

    .button-flower {
        margin-left: 86.5rem;
    }
    .nine-pm{
        position: absolute;
        top: 4.5rem;
        left: 56.5rem;
    }
}
@media screen and (min-width : 1890px) {
    .left-flower-input {
        margin-left: 87rem;
    }

    .button-flower {
        margin-left: 87.5rem;
    }
    .nine-pm{
        position: absolute;
        top: 4.5rem;
        left: 57rem;
    }
}
@media screen and (min-width : 1905px) {
    .left-flower-input {
        margin-left: 88rem;
    }

    .button-flower {
        margin-left: 88.5rem;
    }
    .nine-pm{
        position: absolute;
        top: 4.5rem;
        left: 57.5rem;
    }
}
@media screen and (min-width : 1920px) {
    .left-flower-input {
        margin-left: 89.2rem;
    }

    .button-flower {
        margin-left: 89.5rem;
    }
    .nine-pm{
        position: absolute;
        top: 4.5rem;
        left: 58rem;
    }
}
@media screen and (min-width : 1940px) {
    .left-flower-input {
        margin-left: 90rem;
    }

    .button-flower {
        margin-left: 90.5rem;
    }
    .nine-pm{
        position: absolute;
        top: 4.5rem;
        left: 58.5rem;
    }
}
@media screen and (min-width : 1955px) {
    .left-flower-input {
        margin-left: 91.2rem;
    }

    .button-flower {
        margin-left: 91.5rem;
    }
    .nine-pm{
        position: absolute;
        top: 4.5rem;
        left: 59rem;
    }
}
@media screen and (min-width : 1975px) {
    .left-flower-input {
        margin-left: 92.2rem;
    }

    .button-flower {
        margin-left: 92.5rem;
    }
    .nine-pm{
        position: absolute;
        top: 4.5rem;
        left: 59.5rem;
    }
}
@media screen and (min-width : 1990px) {
    .left-flower-input {
        margin-left: 93.2rem;
    }

    .button-flower {
        margin-left: 93.5rem;
    }
    .nine-pm{
        position: absolute;
        top: 4.5rem;
        left: 60rem;
    }
}
@media screen and (min-width : 2005px) {
    .left-flower-input {
        margin-left: 94.3rem;
    }

    .button-flower {
        margin-left: 94.5rem;
    }
    .nine-pm{
        position: absolute;
        top: 4.5rem;
        left: 60.5rem;
    }
}
@media screen and (min-width : 2025px) {
    .left-flower-input {
        margin-left: 95rem;
    }

    .button-flower {
        margin-left: 95.5rem;
    }
    .nine-pm{
        position: absolute;
        top: 4.5rem;
        left: 61rem;
    }
}
@media screen and (min-width : 2035px) {
    .left-flower-input {
        margin-left: 96rem;
    }

    .button-flower {
        margin-left: 96.5rem;
    }
    .nine-pm{
        position: absolute;
        top: 4.5rem;
        left: 61.5rem;
    }
}
@media screen and (min-width : 2050px) {
    .left-flower-input {
        margin-left: 97.2rem;
    }

    .button-flower {
        margin-left: 97.5rem;
    }
    .nine-pm{
        position: absolute;
        top: 4.5rem;
        left: 62rem;
    }
}
@media screen and (min-width : 2065px) {
    .left-flower-input {
        margin-left: 98rem;
    }

    .button-flower {
        margin-left: 98.5rem;
    }
    .nine-pm{
        position: absolute;
        top: 4.5rem;
        left: 62.5rem;
    }
}
@media screen and (min-width : 2080px) {
    .left-flower-input {
        margin-left: 99rem;
    }

    .button-flower {
        margin-left: 99.5rem;
    }
    .nine-pm{
        position: absolute;
        top: 4.5rem;
        left: 63rem;
    }
}
@media screen and (min-width : 2095px) {
    .left-flower-input {
        margin-left: 100rem;
    }

    .button-flower {
        margin-left: 100.5rem;
    }
    .nine-pm{
        position: absolute;
        top: 4.5rem;
        left: 63.5rem;
    }
}
@media screen and (min-width : 2115px) {
    .left-flower-input {
        margin-left: 101rem;
    }

    .button-flower {
        margin-left: 101.5rem;
    }
    .nine-pm{
        position: absolute;
        top: 4.5rem;
        left: 64rem;
    }
}
@media screen and (min-width : 2130px) {
    .left-flower-input {
        margin-left: 102rem;
    }

    .button-flower {
        margin-left: 102.5rem;
    }
    .nine-pm{
        position: absolute;
        top: 4.5rem;
        left: 64.5rem;
    }
}
@media screen and (min-width : 2145px) {
    .left-flower-input {
        margin-left: 103rem;
    }

    .button-flower {
        margin-left: 103.5rem;
    }
    .nine-pm{
        position: absolute;
        top: 4.5rem;
        left: 65rem;
    }
}
@media screen and (min-width : 2160px) {
    .left-flower-input {
        margin-left: 104rem;
    }

    .button-flower {
        margin-left: 104.5rem;
    }
    .nine-pm{
        position: absolute;
        top: 4.5rem;
        left: 65.5rem;
    }
}
@media screen and (min-width : 2175px) {
    .left-flower-input {
        margin-left: 105rem;
    }

    .button-flower {
        margin-left: 105.5rem;
    }
    .nine-pm{
        position: absolute;
        top: 4.5rem;
        left: 66rem;
    }
}
@media screen and (min-width : 2190px) {
    .left-flower-input {
        margin-left: 106rem;
    }

    .button-flower {
        margin-left: 106.5rem;
    }
    .nine-pm{
        position: absolute;
        top: 4.5rem;
        left: 66.5rem;
    }
}
@media screen and (min-width : 2210px) {
    .left-flower-input {
        margin-left: 107rem;
    }

    .button-flower {
        margin-left: 107.5rem;
    }
    .nine-pm{
        position: absolute;
        top: 4.5rem;
        left: 67rem;
    }
}
@media screen and (min-width : 2225px) {
    .left-flower-input {
        margin-left: 108rem;
    }

    .button-flower {
        margin-left: 108.5rem;
    }
    .nine-pm{
        position: absolute;
        top: 4.5rem;
        left: 67.5rem;
    }
}
@media screen and (min-width : 2560px) {
    .left-flower-input {
        margin-left: 128rem;
    }

    .button-flower {
        margin-left: 128.5rem;
    }
    .nine-pm{
        position: absolute;
        top: 4.5rem;
        left: 77rem;
    }
}
@media screen and (min-width : 3840px ) {
    .left-flower-input {
        margin-left: 220rem;
    }

    .button-flower {
        margin-left: 220rem;
    }
    .nine-pm{
        position: absolute;
        top: 4.5rem;
        left: 118rem;
    }
}