@import url(https://fonts.googleapis.com/css?family=Fjalla+One);

@font-face {
    font-family: 'charm';
    src: url('assets/fonts/Charm-Regular.ttf') format('ttf');
    font-style: italic;
}

body {
    overflow: hidden;
}

section {
    overflow: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
    left: 0;
    top: 0;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

img {
    width: 100px;
    height: 100px;
}

object {
    width: 110px;
    height: 110px;
}

.right-0 {
    right: 0;
}


/* snow */

.snow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
    z-index: 9999;
}

.snowflake {
    position: absolute;
    background: white;
    opacity: 0.9;
    border-radius: 50%;
}

@keyframes fall {
    0% {
        transform: translateY(-100px);
    }

    100% {
        transform: translateY(100vh);
    }
}


/* loader */

.loader {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(227, 247, 255);
}

.loader>img {
    width: 100px;
}

.loader.hidden {
    animation: fadeOut 1s;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}


/* carousel styles */
.carousel-inner {
    max-width: 50rem;
    margin: 0 auto;
    position: relative;
}

.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    width: 50px !important;
    height: 50px !important;
    opacity: 1;
    z-index: 10;
    top: 42%;
    transform: translateY(-50%);
    font-size: 4rem;
    border-radius: 50%;
    margin: 0 -.5rem;
    padding: 0 10px;
}

.carousel-control-prev {
    left: 0;
    /* دکمه قبلی در سمت چپ */
}

.carousel-control-next {
    right: 0;
    /* دکمه بعدی در سمت راست */
}

.arrows {
    width: 70px;
    height: 70px;
}
.disabled-button {  
    pointer-events: none; /* جلوگیری از کلیک روی دکمه */  
    opacity: 0.5; /* کاهش شفافیت دکمه برای نمایش غیرفعالی */  
    cursor: not-allowed; /* تغییر نشانگر ماوس */  
}

.carousel-item {
    animation-timeline: view();
    animation-range: entry 0% cover 50%;
}

/* play and pause icons */

.play-pause-icon {
    position: absolute;
    z-index: 11;
    bottom: .5rem;
    right: .5rem;
    cursor: pointer;
}

.play-pause-music {
    width: 3.5rem;
    height: 3.5rem;
    cursor: pointer;
}

/* first slide styles */

.background-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    z-index: -11;
}

#z {
    position: absolute;
    top: 1rem;
    z-index: 999999999;
    text-align: center;
    width: 100%;
}

.images {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.invite-message {
    text-align: center;
    color: #515050;
    padding-top: 8rem;
    font-weight: 500;
    animation: blink-caret 0.75s step-end infinite;
    transition: opacity 1s ease;
    opacity: 0;
    z-index: 99999999999999999999999999999999999999999;
}

.couples-name {
    font-family: 'charm';
    font-style: italic;
    font-weight: 600;
    text-align: center;
    margin-top: 2rem;
    color: #515050;
    z-index: 999999999999999999999999999999999999;
}

#brides-name {
    opacity: 0;
    transition: opacity 0.5s ease;
    font-size: 2.5rem !important;
}

.grooms-name {
    font-size: 2.5rem !important;
}

.top-right-flower {
    position: absolute;
    top: -1.5rem;
    right: -.8rem;
    filter: brightness(0.95);
    /* transform: scale(1.3); */
}

.top-left-flower {
    /* transform: scaleX(-1) !important; */
    position: absolute;
    top: -2.2rem;
    filter: brightness(0.95);
    margin-left: 1rem;
}


.maghbareh {
    position: absolute;
    bottom: 2.8rem;
    right: -3.5rem;
    width: 26rem;
    height: 20rem;
    background-size: contain;
    z-index: 9999;
}

.voorodi {
    position: absolute;
    bottom: -2.1rem;
    right: 4.4rem;
    width: 25rem;
    height: 12rem;
    background-size: cover;

}

.left-flower-input {
    position: absolute;
    bottom: -1rem;
    right: .5rem;
    width: 10rem;
    height: 10rem;
}

.left-flower-input-1 {
    position: absolute;
    bottom: -.5rem;
    right: 2.4rem;
    width: 10rem;
    height: 10rem;
}

.left-flower-input-2 {
    position: absolute;
    bottom: -.5rem;
    right: -2rem;
    width: 10rem;
    height: 10rem;
}

.tavoos {
    z-index: 1;
    position: absolute;
    right: -.7rem;
    bottom: 15.5rem;
    width: 10rem;
    height: 8rem !important;
    background-size: contain;
}

.button-flower {
    position: absolute;
    bottom: 2.5rem !important;
    right: 20.5rem !important;
    filter: brightness(0.95);
    /* z-index: 999; */
    width: 6rem !important;
    height: 6rem !important;
}

.top-left-middle-flower-image {
    position: absolute;
    top: 0;
}

.top-middle-left-flower {
    position: absolute;
    top: 9rem;
    left: -1rem;
    transform: scaleX(-1) !important;
    filter: brightness(0.95) !important;
    z-index: 999999999999;
}

.custom-fadeIn {
    animation-duration: 3s;
    animation-delay: 2.5s;
}

/* second-slide styles */

.poetry {
    margin-top: 6rem;
    text-align: center !important;
    color: #5c5c5c;
    font-size: 1rem !important;
}

.date {
    text-align: center;
    margin-top: 13rem;
    color: #5c5c5c;
}

.address {
    margin-top: 19rem;
    text-align: center !important;
    color: #5c5c5c;
    font-weight: 100;
}

.december {
    font-size: .8rem;
    margin-right: .7rem;
}

.thirty {
    font-size: 3rem;
    margin: 1.2rem;
}

.nine-pm {
    position: absolute;
    top: 4.5rem;
    left: 11.8rem;
}

.Horizontal-data {
    display: flex;
    justify-content: center;
    align-items: baseline;
    height: 100vh;
    margin-right: 2.5rem;
    margin-top: -2rem;
}

.friday,
.the-year {
    border-bottom: 1px solid;
    border-top: 1px solid;
    line-height: 2rem;
    position: relative;
    bottom: .5rem;
}

/* thrid slide styles */

.our-plan {
    height: 100vh;
}

.wedding-title {
    width: 100%;
    text-align: center;
    margin-top: 6rem;
}

.wedding-title>h1 {
    /* font-size: 2.5rem; */
    font-weight: 700;
}

.weddings-plan {
    width: 100%;
    height: 100vh;
    margin-top: 10rem;
    margin-left: .5rem;
}

.weddings-plan>h2 {
    font-size: 2rem;
}

h5 {
    margin-left: .7rem;
    font-size: 17px;
    color: #4d4d4d !important;
    /* line-height: 1.5rem; */
}

.disabled-button {
    opacity: 0.5;
    pointer-events: none;
}

/* responsive */

@media screen and (min-width: 300px) and (min-height: 500px) and (max-width: 499px) and (max-height: 800px) {
    object {
        width: 80px !important;
        height: 80px !important;
    }

    .invite-message {
        padding-top: 5rem;
    }

    .couples-name {
        margin-top: 1rem;
    }

    .poetry {
        margin-top: 5rem;
    }

    .maghbareh {
        width: 17rem;
        height: 15rem;
        bottom: 2.2rem;
    }

    .voorodi {
        width: 20rem;
        height: 10rem;
        bottom: -2.1rem;
        right: 0rem;
    }

    .button-flower {
        width: 80px !important;
        height: 80px !important;
        bottom: 5rem;
        right: 11.5rem !important;
    }

    .left-flower-input {
        position: absolute;
        bottom: -1rem;
        right: 0;
        width: 10rem;
        height: 10rem;
    }

    .left-flower-input-1 {
        position: absolute;
        bottom: -1rem;
        right: -3rem !important;
        width: 10rem;
        height: 10rem;
    }

    .left-flower-input-2 {
        position: absolute;
        bottom: -1rem;
        right: -5rem !important;
        width: 10rem;
        height: 10rem;
    }

    .tavoos {
        width: 5rem;
        height: 5rem;
        right: 0 !important;
        bottom: 11.5rem;
    }

    .date {
        margin-top: 9rem;
        left: 3%;
    }

    .address {
        margin-top: 15rem;
        text-align: start !important;
    }

    .nine-pm {
        position: absolute;
        top: 4.5rem;
        left: 7rem;
    }

    .wedding-title {
        margin-top: 5rem;
        font-size: 1rem !important;
    }

    .wedding-title>h1 {
        font-size: 1.5rem !important;
    }

    .weddings-plan {
        margin-top: 10rem;
    }

    .Welcoming-the-Guests,
    .Aryan-Wedding-Ceremony,
    .Serving-Guests-with-Fruits-and-Sweets,
    .Serving-Natural-Juices,
    .Serving-Sherbet,
    .Serving-Finger-Foods,
    .Dancing-and-Music {
        font-size: 1.2rem !important;
        line-height: 1rem !important;
    }

    h5 {
        font-size: .9rem;
    }
}

@media screen and(min-width : 301px) and (max-width : 555px) and (min-height : 600px) and (max-height : 916px) {
    .address {
        margin-top: 19rem;
        text-align: center !important;
    }

    .wedding-title {
        margin-top: 5rem;
    }

    .wedding-title>h1 {
        font-size: 1rem !important;
    }

    .weddings-plan {
        margin-top: 10rem;
    }
    .weddings-plan>h2 {
        font-size: 1rem !important;
    }

    .Welcoming-the-Guests,
    .Aryan-Wedding-Ceremony,
    .Serving-Guests-with-Fruits-and-Sweets,
    .Serving-Natural-Juices,
    .Serving-Sherbet,
    .Serving-Finger-Foods,
    .Dancing-and-Music {
        font-size: 1rem !important;
        line-height: 1rem !important;
    }

    h5 {
        font-size: .9rem;
    }
}

@media screen and (min-width : 320px) {
    .nine-pm {
        position: absolute;
        top: 4.5rem;
        left: 8rem;
    }
}

@media screen and (min-width : 340px) {
    .nine-pm {
        position: absolute;
        top: 4.5rem;
        left: 8.5rem;
    }
}

@media screen and (min-width : 355px) {
    .nine-pm {
        position: absolute;
        top: 4.5rem;
        left: 9rem;
    }
    .address {
        /* margin-top: 17rem; */
        text-align: center !important;
    }
}

@media screen and (min-width : 370px) {
    .nine-pm {
        position: absolute;
        top: 4.5rem;
        left: 9.5rem;
    }
}

@media screen and (min-width : 385px) {
    .nine-pm {
        position: absolute;
        top: 4.5rem;
        left: 10rem;
    }
}

@media screen and (min-width: 400px) and (min-height: 600px) and (max-width: 600px) and (max-height: 920px) {
    object {
        width: 90px !important;
        height: 90px !important;
    }

    .invite-message {
        padding-top: 6rem !important;
    }

    .couples-name {
        margin-top: .5rem;
    }

    .date {
        margin-top: 10rem !important;
    }

    .address {
        margin-top: 17rem;
        text-align: center !important;
    }

    .nine-pm {
        position: absolute;
        top: 4.5rem;
        left: 10.5rem;
    }

    .maghbareh {
        position: absolute;
        bottom: 2.8rem;
        right: -3.5rem;
        width: 19rem;
        height: 16rem;
        background-size: contain;
        z-index: 9999;
    }

    .voorodi {
        position: absolute;
        bottom: -2.1rem;
        right: 0 !important;
        width: 25rem;
        height: 12rem;
        background-size: cover;

    }

    .tavoos {
        z-index: 11111111111111111111;
        position: absolute;
        right: -1rem;
        bottom: 12rem;
        width: 7rem;
        height: 6rem;
        background-size: contain;
    }

    .button-flower {
        position: absolute;
        bottom: 8rem;
        right: 18rem !important;
        filter: brightness(0.95);
        z-index: 9999999999999;
    }
    .wedding-title {
        margin-top: 5rem;
    }

    .wedding-title>h1 {
        font-size: 2rem !important;
    }

    .weddings-plan {
        margin-top: 11rem;
    }

    .Welcoming-the-Guests,
    .Aryan-Wedding-Ceremony,
    .Serving-Guests-with-Fruits-and-Sweets,
    .Serving-Natural-Juices,
    .Serving-Sherbet,
    .Serving-Finger-Foods,
    .Dancing-and-Music {
        font-size: 1.5rem !important;
        line-height: 2rem !important;
    }

    h5 {
        font-size: .9rem;
    }

}

@media screen and (min-width : 415px) {
    .nine-pm {
        position: absolute;
        top: 4.5rem;
        left: 11rem;
    }
}

@media screen and (min-width : 430px) {
    .nine-pm {
        position: absolute;
        top: 4.5rem;
        left: 11.5rem;
    }
}

@media screen and (min-width : 450px) {
    .left-flower-input {
        margin-left: -3.3rem;
    }

    .nine-pm {
        position: absolute;
        top: 4.5rem;
        left: 12rem;
    }

    .wedding-title>h1 {
        font-size: 2rem;
        margin-top: 1rem;
    }

    .Welcoming-the-Guests,
    .Aryan-Wedding-Ceremony,
    .Serving-Guests-with-Fruits-and-Sweets,
    .Serving-Natural-Juices,
    .Serving-Sherbet,
    .Serving-Finger-Foods,
    .Dancing-and-Music {
        font-size: 1.7rem !important;
        margin-top: -.5rem;
        line-height: 1.5rem;
    }

    h5 {
        font-size: 1.2rem;
    }
}

@media screen and (min-width : 465px) {
    .nine-pm {
        position: absolute;
        top: 4.5rem;
        left: 12.5rem;
    }
}

@media screen and (min-width : 480px) {
    .nine-pm {
        position: absolute;
        top: 4.5rem;
        left: 13rem;
    }
}

@media screen and (min-width : 505px) {
    .nine-pm {
        position: absolute;
        top: 4.5rem;
        left: 13.5rem;
    }
}

@media screen and (min-width : 515px) {
    .nine-pm {
        position: absolute;
        top: 4.5rem;
        left: 14rem;
    }
}

@media screen and (min-width : 525px) {
    .nine-pm {
        position: absolute;
        top: 4.5rem;
        left: 14.5rem;
    }
}

@media screen and (min-width : 535px) {
    .nine-pm {
        position: absolute;
        top: 4.5rem;
        left: 14.8rem;
    }
}

@media screen and (min-width : 550px) {
    .nine-pm {
        position: absolute;
        top: 4.5rem;
        left: 15.3rem;
    }
}

@media screen and (min-width : 570px) {
    .nine-pm {
        position: absolute;
        top: 4.5rem;
        left: 15.7rem;
    }
}

@media screen and (min-width : 590px) {
    .nine-pm {
        position: absolute;
        top: 4.5rem;
        left: 16rem;
    }
    .wedding-title>h1 {
        margin-top: .5rem;
    }

    .Welcoming-the-Guests,
    .Aryan-Wedding-Ceremony,
    .Serving-Guests-with-Fruits-and-Sweets,
    .Serving-Natural-Juices,
    .Serving-Sherbet,
    .Serving-Finger-Foods,
    .Dancing-and-Music {
        font-size: 1.2rem !important;
        line-height: 1rem;
        margin-top: 2rem;
    }

    h5 {
        font-size: .9rem;
    }
}

@media screen and (min-width : 600px) {
    .nine-pm {
        position: absolute;
        top: 4.5rem;
        left: 16.5rem;
    }
}

@media screen and (min-width : 615px) {
    .nine-pm {
        position: absolute;
        top: 4.5rem;
        left: 17rem;
    }
    .poetry > h6{
        font-size: 1.5rem !important;
    }
}

@media screen and (min-width : 625px) {
    .nine-pm {
        position: absolute;
        top: 4.5rem;
        left: 17.5rem;
    }
}

@media screen and (min-width : 640px) {
    .nine-pm {
        position: absolute;
        top: 4.5rem;
        left: 17.8rem;
    }
}

@media screen and (min-width : 650px) {
    .nine-pm {
        position: absolute;
        top: 4.5rem;
        left: 18rem;
    }
}

@media screen and (min-width : 660px) {
    .nine-pm {
        position: absolute;
        top: 4.5rem;
        left: 18.5rem;
    }
}

@media screen and (min-width : 670px) {
    .nine-pm {
        position: absolute;
        top: 4.5rem;
        left: 18.8rem;
    }
}

@media screen and (min-width : 685px) {
    .nine-pm {
        position: absolute;
        top: 4.5rem;
        left: 19.5rem;
    }
}

@media screen and (min-width : 700px) {
    .nine-pm {
        position: absolute;
        top: 4.5rem;
        left: 20rem;
    }
}

@media screen and (min-width : 725px) {
    .nine-pm {
        position: absolute;
        top: 4.5rem;
        left: 20.5rem;
    }
}

@media screen and (min-width : 735px) {
    .nine-pm {
        position: absolute;
        top: 4.5rem;
        left: 20.9rem;
    }
}

@media screen and (min-width : 750px) {
    .nine-pm {
        position: absolute;
        top: 4.5rem;
        left: 21.4rem;
    }
}

@media screen and (min-width : 768px) {
    .nine-pm {
        position: absolute;
        top: 4.5rem;
        left: 21.8rem;
    }

    /* making a white space from right anf left to moveing the porject in the center */
    .carousel-inner {
        max-width: 50rem;
        margin: 0 auto;
    }
}

@media screen and (min-width : 780px) {
    .nine-pm {
        position: absolute;
        top: 4.5rem;
        left: 22.5rem;
    }
}

@media screen and (min-width : 800px) {
    .nine-pm {
        position: absolute;
        top: 4.5rem;
        left: 22.8rem;
    }
}

@media screen and (min-width : 810px) {
    .carousel-control-prev {
        left: 1rem;
    }

    .carousel-control-next {
        right: 1rem;
    }
}

@media screen and (min-width : 835px) {
    .carousel-control-prev {
        left: 1.5rem;
    }

    .carousel-control-next {
        right: 1.5rem;
    }
}

@media screen and (min-width : 850px) {
    .carousel-control-prev {
        left: 2rem;
    }

    .carousel-control-next {
        right: 2rem;
    }
}

@media screen and (min-width : 875px) {
    .nine-pm {
        position: absolute;
        top: 4.5rem;
        left: 22.8rem;
    }

    .carousel-control-prev {
        left: 2.5rem;
    }

    .carousel-control-next {
        right: 2.5rem;
    }
}

@media screen and (min-width : 890px) {
    .carousel-control-prev {
        left: 3rem;
    }

    .carousel-control-next {
        right: 3rem;
    }
}

@media screen and (min-width : 900px) {
    .carousel-control-prev {
        left: 3.5rem;
    }

    .carousel-control-next {
        right: 3.5rem;
    }
}

@media screen and (min-width : 925px) {
    .carousel-control-prev {
        left: 4rem;
    }

    .carousel-control-next {
        right: 4rem;
    }
}

@media screen and (min-width : 940px) {
    .carousel-control-prev {
        left: 4.5rem;
    }

    .carousel-control-next {
        right: 4.5rem;
    }
}

@media screen and (min-width : 950px) {
    .carousel-control-prev {
        left: 5rem;
    }

    .carousel-control-next {
        right: 5rem;
    }
}

@media screen and (min-width : 975px) {
    .carousel-control-prev {
        left: 6rem;
    }

    .carousel-control-next {
        right: 6rem;
    }
}

@media screen and (min-width : 992px) {
    .carousel-control-prev {
        left: 6.5rem;
    }

    .carousel-control-next {
        right: 6.5rem;
    }
}

@media screen and (min-width : 1000px) {
    .carousel-control-prev {
        left: 7rem;
    }

    .carousel-control-next {
        right: 7rem;
    }
}

@media screen and (min-width : 1024px) {
    .carousel-control-prev {
        left: 7.5rem;
    }

    .carousel-control-next {
        right: 7.5rem;
    }
}

@media screen and (min-width : 1040px) {
    .carousel-control-prev {
        left: 8rem;
    }

    .carousel-control-next {
        right: 8rem;
    }
}

@media screen and (min-width : 1055px) {
    .carousel-control-prev {
        left: 8.5rem;
    }

    .carousel-control-next {
        right: 8.5rem;
    }
}

@media screen and (min-width : 1070px) {
    .carousel-control-prev {
        left: 9rem;
    }

    .carousel-control-next {
        right: 9rem;
    }
}

@media screen and (min-width : 1090px) {
    .carousel-control-prev {
        left: 9.5rem;
    }

    .carousel-control-next {
        right: 9.5rem;
    }
}

@media screen and (min-width : 1100px) {
    .carousel-control-prev {
        left: 10rem;
    }

    .carousel-control-next {
        right: 10rem;
    }
}

@media screen and (min-width : 1115px) {
    .carousel-control-prev {
        left: 10.5rem;
    }

    .carousel-control-next {
        right: 10.5rem;
    }
}

@media screen and (min-width : 1125px) {
    .carousel-control-prev {
        left: 11rem;
    }

    .carousel-control-next {
        right: 11rem;
    }
}

@media screen and (min-width : 1140px) {
    .carousel-control-prev {
        left: 11.5rem;
    }

    .carousel-control-next {
        right: 11.5rem;
    }
}

@media screen and (min-width : 1155px) {
    .carousel-control-prev {
        left: 12rem;
    }

    .carousel-control-next {
        right: 12rem;
    }
}

@media screen and (min-width : 1170px) {
    .carousel-control-prev {
        left: 12.5rem;
    }

    .carousel-control-next {
        right: 12.5rem;
    }
}

@media screen and (min-width : 1190px) {
    .carousel-control-prev {
        left: 13rem;
    }

    .carousel-control-next {
        right: 13rem;
    }
}

@media screen and (min-width : 1205px) {
    .carousel-control-prev {
        left: 13.5rem;
    }

    .carousel-control-next {
        right: 13.5rem;
    }
}

@media screen and (min-width : 1220px) {
    .carousel-control-prev {
        left: 14rem;
    }

    .carousel-control-next {
        right: 14rem;
    }
}

@media screen and (min-width : 1240px) {
    .carousel-control-prev {
        left: 14.5rem;
    }

    .carousel-control-next {
        right: 14.5rem;
    }
}

@media screen and (min-width : 1255px) {
    .carousel-control-prev {
        left: 15rem;
    }

    .carousel-control-next {
        right: 15rem;
    }
}

@media screen and (min-width : 1270px) {
    .carousel-control-prev {
        left: 15.5rem;
    }

    .carousel-control-next {
        right: 15.5rem;
    }
}

@media screen and (min-width : 1285px) {
    .carousel-control-prev {
        left: 16rem;
    }

    .carousel-control-next {
        right: 16rem;
    }
}

@media screen and (min-width : 1300px) {
    .carousel-control-prev {
        left: 16.5rem;
    }

    .carousel-control-next {
        right: 16.5rem;
    }
}

@media screen and (min-width : 1315px) {
    .carousel-control-prev {
        left: 17rem;
    }

    .carousel-control-next {
        right: 17rem;
    }
}

@media screen and (min-width : 1330px) {
    .carousel-control-prev {
        left: 17.5rem;
    }

    .carousel-control-next {
        right: 17.5rem;
    }
}

@media screen and (min-width : 1345px) {
    .carousel-control-prev {
        left: 18rem;
    }

    .carousel-control-next {
        right: 18rem;
    }
}

@media screen and (min-width : 1365px) {
    .carousel-control-prev {
        left: 18.5rem;
    }

    .carousel-control-next {
        right: 18.5rem;
    }
}

@media screen and (min-width : 1380px) {
    .carousel-control-prev {
        left: 19rem;
    }

    .carousel-control-next {
        right: 19rem;
    }
}

@media screen and (min-width : 1395px) {
    .carousel-control-prev {
        left: 19.5rem;
    }

    .carousel-control-next {
        right: 19.5rem;
    }
}

@media screen and (min-width : 1410px) {
    .carousel-control-prev {
        left: 20rem;
    }

    .carousel-control-next {
        right: 20rem;
    }
}

@media screen and (min-width : 1425px) {
    .carousel-control-prev {
        left: 20.5rem;
    }

    .carousel-control-next {
        right: 20.5rem;
    }
}

@media screen and (min-width : 1445px) {
    .carousel-control-prev {
        left: 21rem;
    }

    .carousel-control-next {
        right: 21rem;
    }
}

@media screen and (min-width : 1460px) {
    .carousel-control-prev {
        left: 21.5rem;
    }

    .carousel-control-next {
        right: 21.5rem;
    }
}

@media screen and (min-width : 1475px) {
    .carousel-control-prev {
        left: 22rem;
    }

    .carousel-control-next {
        right: 22rem;
    }
}

@media screen and (min-width : 1510px) {
    .carousel-control-prev {
        left: 22.5rem;
    }

    .carousel-control-next {
        right: 22.5rem;
    }
}

@media screen and (min-width : 1525px) {
    .carousel-control-prev {
        left: 23rem;
    }

    .carousel-control-next {
        right: 23rem;
    }
}

@media screen and (min-width : 1540px) {
    .carousel-control-prev {
        left: 23.5rem;
    }

    .carousel-control-next {
        right: 23.5rem;
    }
}

@media screen and (min-width : 1560px) {
    .carousel-control-prev {
        left: 24rem;
    }

    .carousel-control-next {
        right: 24rem;
    }
}

@media screen and (min-width : 1575px) {
    .carousel-control-prev {
        left: 24.5rem;
    }

    .carousel-control-next {
        right: 24.5rem;
    }
}

@media screen and (min-width : 1590px) {
    .carousel-control-prev {
        left: 25rem;
    }

    .carousel-control-next {
        right: 25rem;
    }
}

@media screen and (min-width : 1605px) {
    .carousel-control-prev {
        left: 25.5rem;
    }

    .carousel-control-next {
        right: 25.5rem;
    }
}

@media screen and (min-width : 1620px) {
    .carousel-control-prev {
        left: 26rem;
    }

    .carousel-control-next {
        right: 26rem;
    }
}

@media screen and (min-width : 1635px) {
    .carousel-control-prev {
        left: 26.5rem;
    }

    .carousel-control-next {
        right: 26.5rem;
    }
}

@media screen and (min-width : 1650px) {
    .carousel-control-prev {
        left: 27rem;
    }

    .carousel-control-next {
        right: 27rem;
    }
}

@media screen and (min-width : 1670px) {
    .carousel-control-prev {
        left: 27.5rem;
    }

    .carousel-control-next {
        right: 27.5rem;
    }
}

@media screen and (min-width : 1685px) {
    .carousel-control-prev {
        left: 28rem;
    }

    .carousel-control-next {
        right: 28rem;
    }
}

@media screen and (min-width : 1700px) {
    .carousel-control-prev {
        left: 28.5rem;
    }

    .carousel-control-next {
        right: 28.5rem;
    }
}

@media screen and (min-width : 1715px) {
    .carousel-control-prev {
        left: 29rem;
    }

    .carousel-control-next {
        right: 29rem;
    }
}

@media screen and (min-width : 1730px) {
    .carousel-control-prev {
        left: 29.5rem;
    }

    .carousel-control-next {
        right: 29.5rem;
    }
}

@media screen and (min-width : 1745px) {
    .carousel-control-prev {
        left: 30rem;
    }

    .carousel-control-next {
        right: 30rem;
    }
}

@media screen and (min-width : 1760px) {
    .carousel-control-prev {
        left: 30.5rem;
    }

    .carousel-control-next {
        right: 30.5rem;
    }
}

@media screen and (min-width : 1775px) {
    .carousel-control-prev {
        left: 31rem;
    }

    .carousel-control-next {
        right: 31rem;
    }
}

@media screen and (min-width : 1795px) {
    .carousel-control-prev {
        left: 31.5rem;
    }

    .carousel-control-next {
        right: 31.5rem;
    }
}

@media screen and (min-width : 1810px) {
    .carousel-control-prev {
        left: 32rem;
    }

    .carousel-control-next {
        right: 32rem;
    }
}

@media screen and (min-width : 1825px) {
    .carousel-control-prev {
        left: 32.5rem;
    }

    .carousel-control-next {
        right: 32.5rem;
    }
}

@media screen and (min-width : 1845px) {
    .carousel-control-prev {
        left: 33rem;
    }

    .carousel-control-next {
        right: 33rem;
    }
}

@media screen and (min-width : 1860px) {
    .carousel-control-prev {
        left: 33.5rem;
    }

    .carousel-control-next {
        right: 33.5rem;
    }
}

@media screen and (min-width : 1875px) {
    .carousel-control-prev {
        left: 34rem;
    }

    .carousel-control-next {
        right: 34rem;
    }
}

@media screen and (min-width : 1890px) {
    .carousel-control-prev {
        left: 34.5rem;
    }

    .carousel-control-next {
        right: 34.5rem;
    }
}

@media screen and (min-width : 1905px) {
    .carousel-control-prev {
        left: 35rem;
    }

    .carousel-control-next {
        right: 35rem;
    }
}

@media screen and (min-width : 1920px) {
    .carousel-control-prev {
        left: 35.5rem;
    }

    .carousel-control-next {
        right: 35.5rem;
    }
}

@media screen and (min-width : 1940px) {
    .carousel-control-prev {
        left: 36rem;
    }

    .carousel-control-next {
        right: 36rem;
    }
}

@media screen and (min-width : 1955px) {
    .carousel-control-prev {
        left: 36.5rem;
    }

    .carousel-control-next {
        right: 36.5rem;
    }
}

@media screen and (min-width : 1975px) {
    .carousel-control-prev {
        left: 37rem;
    }

    .carousel-control-next {
        right: 37rem;
    }
}

@media screen and (min-width : 1990px) {
    .carousel-control-prev {
        left: 37.5rem;
    }

    .carousel-control-next {
        right: 37.5rem;
    }
}

@media screen and (min-width : 2005px) {
    .carousel-control-prev {
        left: 38rem;
    }

    .carousel-control-next {
        right: 38rem;
    }
}

@media screen and (min-width : 2025px) {
    .carousel-control-prev {
        left: 38.5rem;
    }

    .carousel-control-next {
        right: 38.5rem;
    }
}

@media screen and (min-width : 2035px) {
    .carousel-control-prev {
        left: 39rem;
    }

    .carousel-control-next {
        right: 39rem;
    }
}

@media screen and (min-width : 2050px) {
    .carousel-control-prev {
        left: 39.5rem;
    }

    .carousel-control-next {
        right: 39.5rem;
    }
}

@media screen and (min-width : 2065px) {
    .carousel-control-prev {
        left: 40rem;
    }

    .carousel-control-next {
        right: 40rem;
    }
}

@media screen and (min-width : 2080px) {
    .carousel-control-prev {
        left: 40.5rem;
    }

    .carousel-control-next {
        right: 40.5rem;
    }
}

@media screen and (min-width : 2095px) {
    .carousel-control-prev {
        left: 41rem;
    }

    .carousel-control-next {
        right: 41rem;
    }
}

@media screen and (min-width : 2115px) {
    .carousel-control-prev {
        left: 41.5rem;
    }

    .carousel-control-next {
        right: 41.5rem;
    }
}

@media screen and (min-width : 2130px) {

    .carousel-control-prev {
        left: 42rem;
    }

    .carousel-control-next {
        right: 42rem;
    }
}

@media screen and (min-width : 2145px) {
    .carousel-control-prev {
        left: 42.5rem;
    }

    .carousel-control-next {
        right: 42.5rem;
    }
}

@media screen and (min-width : 2160px) {
    .carousel-control-prev {
        left: 43rem;
    }

    .carousel-control-next {
        right: 43rem;
    }
}

@media screen and (min-width : 2175px) {
    .carousel-control-prev {
        left: 44rem;
    }

    .carousel-control-next {
        right: 44rem;
    }
}

@media screen and (min-width : 2190px) {
    .carousel-control-prev {
        left: 44.5rem;
    }

    .carousel-control-next {
        right: 44.5rem;
    }
}

@media screen and (min-width : 2210px) {
    .carousel-control-prev {
        left: 45rem;
    }

    .carousel-control-next {
        right: 45rem;
    }
}

@media screen and (min-width : 2225px) {
    .carousel-control-prev {
        left: 45.4rem;
    }

    .carousel-control-next {
        right: 45.4rem;
    }
}

@media screen and (min-width : 2560px) {
    .carousel-control-prev {
        left: 55rem;
    }

    .carousel-control-next {
        right: 55rem;
    }
}

@media screen and (min-width : 3840px) {
    .carousel-control-prev {
        left: 96rem;
    }

    .carousel-control-next {
        right: 96rem;
    }
}